.header-container {

    width: 100%;
    background-color: var(--header-background-color);
    margin-top: 20px;

    .header-container-navigation {
        display: inline-block;
        width: 80%;

        @media screen and (max-width: 767px) {
            width: 70%;
        }
    }

    .header-container-cart {
        display: inline-block;
    }
}