.cart-container {
    
    padding: 6px 8px;

    .cart-container-label {
        color: var(--font-color-2);
        font-family: var(--font-family-1);
        font-size: 0.86em;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            font-size: 0.8em;
        }
    }

    .cart-container-modal {

        position: absolute;
        min-height: 100px;
        width: 200px;
        // min-width: 200px;
        border: 1px solid var(--border-light-color);
        max-width: 300px;
        background-color: #ffffff;
    }
}
