<div class="product-container">
    <div class="product-container-left">
        <div class="product-container-left__image">
            <img src="{{product.image}}">
        </div>
    </div>
    <div class="product-container-right">
        <div class="product-container-right__container">
            <div class="product-container-right__container-name">
                {{product.name}}
            </div>
            <div class="product-container-right__container-price">
                {{productCurrency}}{{product.price}}
            </div>
            <div class="product-container-right__container-description">
                {{product.description}}
            </div>
            <div class="product-container-right__container-size-label">SIZE</div>
            <div class="product-container-right__container-size">
                <div *ngFor="let size of product.sizes" class="product-container-right__container-size__item" id="size-{{size.id}}" (click)="toggleSize(size.id)">
                    {{size.label}}
                </div>
            </div>
            <div class="product-container-right__container-add" (click)="addToCart()">ADD TO CART</div>
        </div>
    </div>
</div>